{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
<section class="featured-collection">
  <div class="container">
  {% if section.settings.title != blank %}
  <div class="section-title">
    <h2 class="featured-collection__title">{{ section.settings.title | escape }}</h2>
  </div>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}
<div class="row">
  {% for product in collection.products limit: 8 %}
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="product-item">
      <div class="product-item-image">

        <a href="{{ product.url | within: collection }}" class="featured-collection-item">
          {% if product.featured_image != blank %}
            <div class="featured-collection__image">
              {% include 'responsive-image' with
                image: product.featured_image,
                max_width: 480,
                max_height: 480
              %}
            </div>
          {% endif %}
</a>    

      </div>
      <div class="product-item-dsc">
        <h4 class="product-title"><a href="{{ product.url | within: collection }}" class="featured-collection-item"> {{product.title | escape }}</a> </h4>
        <span>
          {% if product.compare_at_price > product.price %}
            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}
          {% else %}
            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}
          {% endif %}
        </span>
      </div>
    </div>   
      </div>
  {% else %}
    {% for i in (1..6) %}
    <div class="colsat">
      <a href="#" class="featured-collection-item">
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6, 7, 8 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

        <p>{{ 'homepage.onboarding.product_title' | t }}</p>
        <p>{{ 1999 | money }}</p>
        
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
